#map-app {
    position: relative;
    margin-left: 370px;
    height: 100vh;
}

#map {
    height: 100%;
    width: 100%;
}

#sidebar-app {
    position: fixed;
    width: 370px;
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.card-pendonor-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}

.badge-resus-active {
    background-color: aliceblue !important;
    color: #dc3545 !important;
}

.panel-badan {
    font-size: 13px;
}

.filter-gol {
    font-size: 15px;
}

.filter-resus {
    font-size: 15px;
}

.filter-gol-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}

.filter-resus-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}