#map-app {
    position: relative;
    margin-left: 370px;
    height: 100vh;
}

#map {
    height: 100%;
    width: 100%;
}

#map2 {
    height: 300px;
    width: 500px;
}

#sidebar-app {
    position: fixed;
    width: 370px;
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.modal-input-data {
    display: none;
    position: fixed; /* Stay in place front is invalid - may break your css so removed */  
    left: 0;
    padding-top: 30px;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
}

.card-pendonor-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}

.badge-resus-active {
    background-color: aliceblue !important;
    color: #dc3545 !important;
}

.panel-badan {
    font-size: 13px;
}

.filter-gol {
    font-size: 15px;
}

.filter-resus {
    font-size: 15px;
}

.filter-gol-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}

.filter-resus-active {
    background-color: #dc3545 !important;
    color: aliceblue;
}